@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.copilotKitMessagesContainer {
  padding: 0 !important;
}

.copilotKitMessage:first-of-type {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.copilotKitAssistantMessage {
  color: #fff;
  background-color: #000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  height: 100%;
}
